body{
    background: #d3af9e;
    font-family:Arial, Helvetica, sans-serif;
}

.assignments{
    display:flex;
    flex-wrap: wrap;
}

.assignment
{
    width:27%;
    padding:10px;
    margin:10px;
    margin-bottom: 30px;
    background: #F2DFBB;
    border-radius: 10px;
    box-shadow: 5px 5px #584242;
}

.assignment img {
    width:275px;
    border: 2px solid #f39c7d;
    margin-right: 20px;
    border-radius: 10px;
    display: block;
    margin:auto;
}

h1{
    color: #242121;
    text-align:center;
}

a {
    text-decoration:none;
    color: #242121;
}
.assignment a:hover {
    color: #F28157;
}